/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$disabledText:                    rgba(black, 0.26) !default;
$floating-button-size:            40px;

button.button-icon.round-button {
  position: relative !important;
  height: $floating-button-size !important;
  width: $floating-button-size !important;
  border-radius: 50% !important;
  min-height: $floating-button-size !important;
  padding: 0 !important;
  border: none !important;

  background-color: $energized !important;
  color: white !important;

  &.energized {
    background-color: $energized !important;
    color: white !important;

    &.activated {
      background-color: darken($energized, 15%) !important;
    }
  }
  
  &.assertive {
    background-color: $assertive !important;
    color: white !important;

    &.activated {
      background-color: darken($assertive, 15%) !important;
    }
  }

  &.positive {
    background-color: $positive !important;
    color: white !important;

    &.activated {
      background-color: darken($positive, 15%) !important;
    }
  }

  &.stable {
    background-color: $disabledText !important;
    color: white !important;

    &.activated {
      background-color: darken($disabledText, 15%) !important;
    }
  }

  &.icon {
    &:before {
      font-size: 18px !important;
      line-height: 40px !important;
    }
  }
}