<div class="form-error" ng-message="required">This field is required</div>
<div class="form-error" ng-message="minlength">This field is too short</div>
<div class="form-error" ng-message="maxlength">This field is too long</div>
<div class="form-error" ng-message="email">This needs to be a valid email</div>
<div class="form-error" ng-message="compareTo">This needs to match password</div>