<ion-view>
  <ion-nav-title>{{ otherUser.firstname }} {{ otherUser.lastname }}</ion-nav-title>

  <ion-content on-swipe-left="hideTime = false"
               on-swipe-right="hideTime = true">
    <div ng-repeat="message in messages"
         ng-class="{ my: message.userId == currentUser.objectId }"
         class="messages">
      <div class="message">
        <span>{{ message.content }}</span>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" id="chat-footer">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" chat-input on-return="sendMessage()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" class="large" />
    </label>
    <button class="round-button bottom-right stable small button button-icon icon ion-android-send" ng-disabled="!data.message" ng-click="sendMessage()"></button>
  </ion-footer-bar>
</ion-view>