<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <form name="loginForm" ng-submit="loginForm.$valid && login()">
      <ion-list>
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.$submitted }">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="your@domain.com" ng-model="data.email" required>
        </label>
        <div class="form-errors" 
          ng-show="loginForm.email.$invalid && loginForm.$submitted"
          ng-messages="loginForm.email.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted }">
          <span class="input-label">Password</span>
          <input type="password" name="password" placeholder="at least 6 characters" ng-model="data.password" ng-minlength="6" required>
        </label>
        <div class="form-errors"  
          ng-show="loginForm.password.$invalid && loginForm.$submitted"
          ng-messages="loginForm.password.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

      </ion-list>
      <button type="submit" class="button button-stable button-block">Login</button>
    </form>
    <button class="button button-positive button-block" ui-sref="register">Register</button>
  </ion-content>
</ion-view>