<ion-view title="Register">
  <ion-content padding="true" class="has-header">
    <form name="registerForm" ng-submit="registerForm.$valid && register()">
      <ion-list>
        <label class="item item-input" ng-class="{ 'has-error' : registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted) }">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="your@domain.com" ng-model="data.email" required>
        </label>
        <div class="form-errors" 
          ng-show="registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)"
          ng-messages="registerForm.email.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : registerForm.firstname.$invalid && (registerForm.firstname.$touched || registerForm.$submitted) }">
          <span class="input-label">First name</span>
          <input type="text" name="firstname" placeholder="enter first name..." ng-model="data.firstname" required>
        </label>
        <div class="form-errors" 
          ng-show="registerForm.firstname.$invalid && (registerForm.firstname.$touched || registerForm.$submitted)"
          ng-messages="registerForm.firstname.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : registerForm.lastname.$invalid && (registerForm.lastname.$touched || registerForm.$submitted) }">
          <span class="input-label">Last name</span>
          <input type="text" name="lastname" placeholder="enter last name..." ng-model="data.lastname" required>
        </label>
        <div class="form-errors" 
          ng-show="registerForm.lastname.$invalid && (registerForm.lastname.$touched || registerForm.$submitted)"
          ng-messages="registerForm.lastname.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : registerForm.password1.$invalid && (registerForm.password1.$touched || registerForm.$submitted) }">
          <span class="input-label">Password</span>
          <input type="password" name="password1" placeholder="at least 6 characters" ng-model="data.password1" ng-minlength="6" required>
        </label>
        <div class="form-errors"  
          ng-show="registerForm.password1.$invalid && (registerForm.password1.$touched || registerForm.$submitted)"
          ng-messages="registerForm.password1.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-error' : registerForm.password2.$invalid && (registerForm.password2.$touched || registerForm.$submitted) }">
          <span class="input-label">Confirm password</span>
          <input type="password" name="password2" placeholder="at least 6 characters" ng-model="data.password2" ng-minlength="6" required compare-to="data.password1">
        </label>
        <div class="form-errors" 
          ng-show="registerForm.password2.$invalid && (registerForm.password2.$touched || registerForm.$submitted)"
          ng-messages="registerForm.password2.$error">
          <div ng-messages-include="templates/shared/utils/form-errors.tmpl.html"></div>
        </div>

      </ion-list>
      <button type="submit" class="button button-stable button-block">Register</button>
    </form>
  </ion-content>
</ion-view>