<ion-view title="Users">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive" ng-click="logout()">Log out</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item" ng-repeat="user in users | orderBy: ['+lastname', '+firstname', '+objectId'] track by user.objectId" type="item-text-wrap" href="#/chat/{{ user.objectId }}">
        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        <p>{{ user.username }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>