/* Empty. Add your own CSS if you like */

label.item {
  border: none;
  margin: 1px;
}

label .input-label {
  font-size: 80%;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  text-align: right;
  font-size: 70%;
  padding: 2px 16px 2px 0px;
  color: red;
}

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin: 0px !important;
}

.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.messages span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 75% !important;
}

.platform-android .messages span {
  border-radius: 0px !important;
}

.platform-android .messages span:after {
  content: ' ' !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  right: auto !important;
  left: 10px !important;
  bottom: 0px !important;
  border: 12px solid !important;
  border-color: transparent transparent transparent #007AFF !important;
}

.messages.my .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}

.messages.my span {
  color: black !important;
  background-color: #C7C7CC !important;
}

.platform-android .messages.my span:after {
  left: auto !important;
  right: 10px !important;
  border-color: transparent #C7C7CC transparent transparent !important;
}

.platform-android #chat-footer {
  border: none !important;
  background: transparent !important;
}
